body {
  margin: 0px;
  font-family: Helevetica;
  background-color: #4056a1;
  padding: 0px;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.white {
  color: white;
}

.gray {
  color: #8c9498;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1d1145;
  width: 100%;
  height: 120px;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    width: 300px;
  }

.menu > li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    padding-top: 60px;
    font-size: 25px;
    transition: 0.3s all ease-in-out 0s;
    -webkit-transition: 0.3s all ease-in-out 0s;
    -moz-transition: 0.3s all ease-in-out 0s;
    -o-transition: 0.3s all ease-in-out 0s;
  }

  .menu li:hover {
    color:  #0db4b9;
    transition: 0.3s all ease-in-out 0s;
    -webkit-transition: 0.3s all ease-in-out 0s;
    -moz-transition: 0.3s all ease-in-out 0s;
    -o-transition: 0.3s all ease-in-out 0s;
  }

.Logo {
  width:  320px;
  float: left;
}

.photo {
  width: 70px;
  margin-top: 3%;
  margin-left: 15%;
  border-radius: 50%;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

.photo:hover{
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  display: inline-block;
  font-weight: bold;
}

header {
  background-image: url('IMG_4025.JPG');
  height: 700px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-title {
  font-family: 'Stylish', sans-serif;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  background-color: #1d1145;
  width: 400px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header-subtitle {
  font-family: 'Stylish', sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #4056A1;
  width: 520px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  margin-top: 80px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title-wrapper {
  padding-top: 300px;
  height: 300px;
  width: 100%;
  margin: auto;
}

p, h1, h3, h4{
  margin: 0;
}

h4{
  text-align: center;
  padding-bottom: 25px;
}


.image-title{
  font-family: 'Stylish', sans-serif;
  font-size: 20px;
}

h3 {
padding-top: 25px;
padding-bottom: 0px;
text-align: center;
}

.call-to-action {
  background-color: #de493c;
  width: 100%;
  height: 200px;
}

.section-title {
  font-family: 'Stylish', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.intro > p {
  color: white;
}

.intro {
  padding-top: 40px;
  width: 50%;
  float:left;
  text-align: center;
}

.right {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.about p {
  font-family: 'Stylish', sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 0px;
  line-height: 25px;
  text-align: center;
  padding: 10px 30px;
  border: 5px solid white;
  margin: 10px 10px;
}

.linkedin {
  background-image: url("ln-blue.png");
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

.linkedin:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

.github {
  background-image: url("gh-cat.png");
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

.github:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

.call-button {
font-family: 'Stylish', sans-serif;
color: white;
font-size: 30px;
text-transform: uppercase;
text-decoration: none;
border: 5px solid white;
padding: 10px 30px;
transition: 0.3s all ease-in-out 0s;
-webkit-transition: 0.3s all ease-in-out 0s;
-moz-transition: 0.3s all ease-in-out 0s;
-o-transition: 0.3s all ease-in-out 0s;
}

.call-button:hover{
background-color: #4056A1;
transition: 0.3s all ease-in-out 0s;
-webkit-transition: 0.3s all ease-in-out 0s;
-moz-transition: 0.3s all ease-in-out 0s;
-o-transition: 0.3s all ease-in-out 0s;
}

.intro p {
  color: white;
  font-size: 25px;
  margin-top: 0px;
  line-height: 40px;
}

.column {
  width: 50%;
  float: left;
}

.column img{
  cursor: pointer;
  max-width: 80%;
  margin: auto;
  display: block;
  opacity: 0.8;
  padding: 30px;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

.column img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

.testimonials {
  background-color: #ebebeb;
  height: 150px;
}

.testimonials  p {
  font-family: 'Stylish', sans-serif;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  margin: 5px;
}

.map {
  background-image: url('map-for-site.png');
  background-size: cover;
  height: 1000px;
}

footer {
  background-color: #1d1145;
  height: 100px;
}

.footer-menu{
  padding-top: 30px;
  padding-left: 5%;
  float: left;
}

.footer-right {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  float: right;
  width: 30%;
}

.footer-menu li{
  color: white;
  font-size: 20px;
  font-weight: 100;
  display: inline-block;
  padding-right: 10px;
  text-align: left;
  text-decoration: none;
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

.footer-menu li:hover {
  color: #0db4b9;
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: 0.3s all ease-in-out 0s;
  -o-transition: 0.3s all ease-in-out 0s;
}

@media only screen and (max-width: 640px) {
  .container {
    margin: auto;
    width: 100%;
    max-width: 640px;
  }
  .Logo {
    max-width: 100px;
  }
  .vanish {
    display: none;
  }
  .testimonials p {
    line-height: 40px;
  }
  p {
    margin: 5px;
  }
}
